<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties">
		<property name="session.username" value="root" />
		<property name="session.password" value="wanghan" />
		<property name="session.driver" value="org.hsqldb.jdbcDriver" />
		<property name="session.address" value="localhost" />
		<property name="session.port" value="3306" />
	</properties>
	<environments default="session.development">
		<environment id="session.development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${session.driver}" />
				<property name="url"
					value="jdbc:hsqldb:mem:${session.schema|aname}" />
				<property name="username" value="${session.username}" />
				<property name="password" value="${session.password}" />

			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/diaos_erp/dao/mapper/TokenSessionDaoMapper.xml" />
	</mappers>
</configuration>